body{ background: url("https://freedesignfile.com/upload/2017/02/Award-ceremony-red-curtain-background-vector.jpg"); 
}

img{ background: url("https://freedesignfile.com/upload/2017/02/Award-ceremony-red-curtain-background-vector.jpg");
}
.Gold{
      color:Gold;
}
.green{
    color:green;
}
.red{
    color:red;
}
.blue{
    color:blue;
}
.yellow{
    color:yellow;
}
.silver{
    color:silver;
}
.resize{
    width:300px;
}
    